.cards {
  padding-bottom: 4rem;
}


.container-hour {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-hour {
    color: gray;
}

.password-wrong {
    color: red;
    font-weight: 400;
    font-size: .75rem;
}


.card-login_form {
    display: inline-block;
}